@use '../abstracts/' as *;

body {
  margin: 0;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-secondary;
  font-weight: $fw-400;
  font-size: fs(400);
  @include get-theme() {
    background-color: themify(bg-main);
    color: themify(text-clr);
  }
}
