$sizes: (
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  20: 1.25rem,
  24: 1.5rem,
  32: 2rem,
  36: 2.25rem,
  48: 3rem,
);

$padding-hero: clamp(15rem, 15vh, 20rem);
$padding-section: clamp(3rem, 5vh, 5rem);

$card-padding: 1.25em;
$card-min-width: 19rem;
$card-base-width: 27rem;
$card-max-width: 50rem;

$grid-gap: 1.5rem;
$flex-group-gap: 1rem;

$container-padding-inline: clamp(1.5rem, 1.5rem + 1vw, 3rem);
$container-max-width: 72rem;
$container-max-width-small: 50rem;
$container-max-width-large: 84rem;
$container-max-width-full-bleed: 100%;

$bg-min-height: 20rem;
$bg-max-height: 35rem;

$br-medium: 0.25em;

$main-content-min-height-desktop: 40rem;
$main-content-min-height-mobile: 53.1rem;
