@use 'sass:map';

$themes: (
  soft-purple: (
    featured-clr-1: #f7efe5,
    featured-clr-2: #e2bfd9,
    featured-clr-3: #c8a1e0,
    featured-clr-4: #674188,
    featured-clr-5: #1a1024,
    featured-clr-6: #29153d,
  ),
  soft-blue: (
    featured-clr-1: #fffbf4,
    featured-clr-2: #f9e2af,
    featured-clr-3: #3aa6b9,
    featured-clr-4: #36b5b0,
    featured-clr-5: #0c1e23,
    featured-clr-6: #112b34,
  ),
  stormy-pink: (
    featured-clr-1: #fdf0f0,
    featured-clr-2: #f1b4bb,
    featured-clr-3: #1f4172,
    featured-clr-4: #223052,
    featured-clr-5: #1f2b47,
    featured-clr-6: #2c375e,
  ),
  vintage-pink: (
    featured-clr-1: #f9f9e0,
    featured-clr-2: #ffd0d0,
    featured-clr-3: #aa3c63,
    featured-clr-4: #0b8494,
    featured-clr-5: #0b8494,
    featured-clr-6: #0a6f7b,
  ),
  coffee-time: (
    featured-clr-1: #fefaf6,
    featured-clr-2: #eadbc8,
    featured-clr-3: #af8f6f,
    featured-clr-4: #102c57,
    featured-clr-5: #102142,
    featured-clr-6: #1c3458,
  ),
  summer: (
    featured-clr-1: #fff5e4,
    featured-clr-2: #c1d8c3,
    featured-clr-3: #2c7865,
    featured-clr-4: #cd5c08,
    featured-clr-5: #1b4432,
    featured-clr-6: #296d4d,
  ),
  nature: (
    featured-clr-1: #d6efd8,
    featured-clr-2: #80af81,
    featured-clr-3: #0d7c66,
    featured-clr-4: #0a6847,
    featured-clr-5: #0b1f13,
    featured-clr-6: #14301f,
  ),
);

$card-themes: (
  soft-purple: (
    text-clr: map.get($themes, soft-purple, featured-clr-1),
    card-accent: map.get($themes, soft-purple, featured-clr-4),
    card-img-bg: map.get($themes, soft-purple, featured-clr-2),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, soft-purple, featured-clr-4),
        map.get($themes, soft-purple, featured-clr-3)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, soft-purple, featured-clr-5),
        map.get($themes, soft-purple, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, soft-purple, featured-clr-4),
        map.get($themes, soft-purple, featured-clr-3)
      ),
    form-accent-clr: map.get($themes, soft-purple, featured-clr-3),
    button-bg: map.get($themes, soft-purple, featured-clr-4),
    button-text: map.get($themes, soft-purple, featured-clr-1),
    button-hover-bg: map.get($themes, soft-purple, featured-clr-3),
    button-hover-text: map.get($themes, soft-purple, featured-clr-5),
    button-outline: map.get($themes, soft-purple, featured-clr-3),
    card-button-outline: map.get($themes, soft-purple, featured-clr-4),
    card-button-hover-text: map.get($themes, soft-purple, featured-clr-1),
    bg-light: map.get($themes, soft-purple, featured-clr-2),
    bg-accent: map.get($themes, soft-purple, featured-clr-3),
    bg-dark: map.get($themes, soft-purple, featured-clr-4),
    bg-main: map.get($themes, soft-purple, featured-clr-5),
    scrollbar-track-clr: map.get($themes, soft-purple, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, soft-purple, featured-clr-3),
  ),
  soft-blue: (
    text-clr: map.get($themes, soft-blue, featured-clr-1),
    card-accent: map.get($themes, soft-blue, featured-clr-3),
    card-img-bg: map.get($themes, soft-blue, featured-clr-3),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, soft-blue, featured-clr-3),
        map.get($themes, soft-blue, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, soft-blue, featured-clr-5),
        map.get($themes, soft-blue, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, soft-blue, featured-clr-3),
        map.get($themes, soft-blue, featured-clr-2)
      ),
    form-accent-clr: map.get($themes, soft-blue, featured-clr-3),
    button-bg: map.get($themes, soft-blue, featured-clr-2),
    button-text: map.get($themes, soft-blue, featured-clr-5),
    button-hover-bg: map.get($themes, soft-blue, featured-clr-3),
    button-hover-text: map.get($themes, soft-blue, featured-clr-1),
    button-outline: map.get($themes, soft-blue, featured-clr-3),
    card-button-outline: map.get($themes, soft-blue, featured-clr-3),
    card-button-hover-text: map.get($themes, soft-blue, featured-clr-1),
    bg-light: map.get($themes, soft-blue, featured-clr-2),
    bg-accent: map.get($themes, soft-blue, featured-clr-1),
    bg-dark: map.get($themes, soft-blue, featured-clr-4),
    bg-main: map.get($themes, soft-blue, featured-clr-5),
    scrollbar-track-clr: map.get($themes, soft-blue, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, soft-blue, featured-clr-3),
  ),
  stormy-pink: (
    text-clr: map.get($themes, stormy-pink, featured-clr-1),
    card-accent: map.get($themes, stormy-pink, featured-clr-3),
    card-img-bg: map.get($themes, stormy-pink, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, stormy-pink, featured-clr-2),
        map.get($themes, stormy-pink, featured-clr-3)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, stormy-pink, featured-clr-5),
        map.get($themes, stormy-pink, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, stormy-pink, featured-clr-2),
        map.get($themes, stormy-pink, featured-clr-3)
      ),
    form-accent-clr: map.get($themes, stormy-pink, featured-clr-2),
    button-bg: map.get($themes, stormy-pink, featured-clr-3),
    button-text: map.get($themes, stormy-pink, featured-clr-1),
    button-hover-bg: map.get($themes, stormy-pink, featured-clr-2),
    button-hover-text: map.get($themes, stormy-pink, featured-clr-5),
    button-outline: map.get($themes, stormy-pink, featured-clr-2),
    card-button-outline: map.get($themes, stormy-pink, featured-clr-4),
    card-button-hover-text: map.get($themes, stormy-pink, featured-clr-1),
    bg-light: map.get($themes, stormy-pink, featured-clr-2),
    bg-accent: map.get($themes, stormy-pink, featured-clr-4),
    bg-dark: map.get($themes, stormy-pink, featured-clr-3),
    bg-main: map.get($themes, stormy-pink, featured-clr-5),
    scrollbar-track-clr: map.get($themes, stormy-pink, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, stormy-pink, featured-clr-3),
  ),
  vintage-pink: (
    text-clr: map.get($themes, vintage-pink, featured-clr-1),
    card-accent: map.get($themes, vintage-pink, featured-clr-4),
    card-img-bg: map.get($themes, vintage-pink, featured-clr-3),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, vintage-pink, featured-clr-3),
        map.get($themes, vintage-pink, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, vintage-pink, featured-clr-5),
        map.get($themes, vintage-pink, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, vintage-pink, featured-clr-3),
        map.get($themes, vintage-pink, featured-clr-2)
      ),
    form-accent-clr: map.get($themes, vintage-pink, featured-clr-2),
    button-bg: map.get($themes, vintage-pink, featured-clr-3),
    button-text: map.get($themes, vintage-pink, featured-clr-1),
    button-hover-bg: map.get($themes, vintage-pink, featured-clr-2),
    button-hover-text: map.get($themes, vintage-pink, featured-clr-5),
    button-outline: map.get($themes, vintage-pink, featured-clr-2),
    card-button-outline: map.get($themes, vintage-pink, featured-clr-4),
    card-button-hover-text: map.get($themes, vintage-pink, featured-clr-1),
    bg-light: map.get($themes, vintage-pink, featured-clr-2),
    bg-accent: map.get($themes, vintage-pink, featured-clr-3),
    bg-dark: map.get($themes, vintage-pink, featured-clr-4),
    bg-main: map.get($themes, vintage-pink, featured-clr-5),
    scrollbar-track-clr: map.get($themes, vintage-pink, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, vintage-pink, featured-clr-3),
  ),
  coffee-time: (
    text-clr: map.get($themes, coffee-time, featured-clr-1),
    card-accent: map.get($themes, coffee-time, featured-clr-4),
    card-img-bg: map.get($themes, coffee-time, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, coffee-time, featured-clr-3),
        map.get($themes, coffee-time, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, coffee-time, featured-clr-5),
        map.get($themes, coffee-time, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, coffee-time, featured-clr-3),
        map.get($themes, coffee-time, featured-clr-2)
      ),
    form-accent-clr: map.get($themes, coffee-time, featured-clr-3),
    button-bg: map.get($themes, coffee-time, featured-clr-3),
    button-text: map.get($themes, coffee-time, featured-clr-5),
    button-hover-bg: map.get($themes, coffee-time, featured-clr-2),
    button-hover-text: map.get($themes, coffee-time, featured-clr-5),
    button-outline: map.get($themes, coffee-time, featured-clr-2),
    card-button-outline: map.get($themes, coffee-time, featured-clr-4),
    card-button-hover-text: map.get($themes, coffee-time, featured-clr-1),
    bg-light: map.get($themes, coffee-time, featured-clr-2),
    bg-accent: map.get($themes, coffee-time, featured-clr-3),
    bg-dark: map.get($themes, coffee-time, featured-clr-4),
    bg-main: map.get($themes, coffee-time, featured-clr-5),
    scrollbar-track-clr: map.get($themes, coffee-time, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, coffee-time, featured-clr-3),
  ),
  summer: (
    text-clr: map.get($themes, summer, featured-clr-1),
    card-accent: map.get($themes, summer, featured-clr-4),
    card-img-bg: map.get($themes, summer, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, summer, featured-clr-3),
        map.get($themes, summer, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, summer, featured-clr-5),
        map.get($themes, summer, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, summer, featured-clr-4),
        map.get($themes, summer, featured-clr-2)
      ),
    form-accent-clr: map.get($themes, summer, featured-clr-2),
    button-bg: map.get($themes, summer, featured-clr-3),
    button-text: map.get($themes, summer, featured-clr-1),
    button-hover-bg: map.get($themes, summer, featured-clr-2),
    button-hover-text: map.get($themes, summer, featured-clr-4),
    button-outline: map.get($themes, summer, featured-clr-2),
    card-button-outline: map.get($themes, summer, featured-clr-4),
    card-button-hover-text: map.get($themes, summer, featured-clr-1),
    bg-light: map.get($themes, summer, featured-clr-2),
    bg-accent: map.get($themes, summer, featured-clr-3),
    bg-dark: map.get($themes, summer, featured-clr-4),
    bg-main: map.get($themes, summer, featured-clr-5),
    scrollbar-track-clr: map.get($themes, summer, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, summer, featured-clr-3),
  ),
  nature: (
    text-clr: map.get($themes, nature, featured-clr-1),
    card-accent: map.get($themes, nature, featured-clr-4),
    card-img-bg: map.get($themes, nature, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, nature, featured-clr-3),
        map.get($themes, nature, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, nature, featured-clr-5),
        map.get($themes, nature, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, nature, featured-clr-3),
        map.get($themes, nature, featured-clr-4)
      ),
    form-accent-clr: map.get($themes, nature, featured-clr-2),
    button-bg: map.get($themes, nature, featured-clr-4),
    button-text: map.get($themes, nature, featured-clr-1),
    button-hover-bg: map.get($themes, nature, featured-clr-2),
    button-hover-text: map.get($themes, nature, featured-clr-5),
    button-outline: map.get($themes, nature, featured-clr-2),
    card-button-outline: map.get($themes, nature, featured-clr-4),
    card-button-hover-text: map.get($themes, nature, featured-clr-1),
    bg-light: map.get($themes, nature, featured-clr-2),
    bg-accent: map.get($themes, nature, featured-clr-3),
    bg-dark: map.get($themes, nature, featured-clr-4),
    bg-main: map.get($themes, nature, featured-clr-5),
    scrollbar-track-clr: map.get($themes, nature, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, nature, featured-clr-3),
  ),
);

$error-color: #ffd700;
