@use 'sass:map';

$colors: (
  neutral: (
    050: #ffffff,
    100: #f7efe5,
    800: #1a1a1b,
    900: #151516,
  ),
  primary: (
    100: #c8a1e0,
    700: #674188,
  ),
);

$themes: (
  soft-purple: (
    featured-clr-1: #f7efe5,
    featured-clr-2: #e2bfd9,
    featured-clr-3: #c8a1e0,
    featured-clr-4: #674188,
  ),
  soft-blue: (
    featured-clr-1: #fffbf4,
    featured-clr-2: #f9e2af,
    featured-clr-3: #3aa6b9,
    featured-clr-4: #36b5b0,
  ),
  stormy-pink: (
    featured-clr-1: #fdf0f0,
    featured-clr-2: #f1b4bb,
    featured-clr-3: #1f4172,
    featured-clr-4: #223052,
  ),
  vintage-pink: (
    featured-clr-1: #f9f9e0,
    featured-clr-2: #ffd0d0,
    featured-clr-3: #aa3c63,
    featured-clr-4: #0b8494,
  ),
  coffee-time: (
    featured-clr-1: #fefaf6,
    featured-clr-2: #eadbc8,
    featured-clr-3: #af8f6f,
    featured-clr-4: #102c57,
  ),
  summer: (
    featured-clr-1: #fff5e4,
    featured-clr-2: #c1d8c3,
    featured-clr-3: #2c7865,
    featured-clr-4: #cd5c08,
  ),
  nature: (
    featured-clr-1: #d6efd8,
    featured-clr-2: #80af81,
    featured-clr-3: #0d7c66,
    featured-clr-4: #0a6847,
  ),
);

$card-themes: (
  soft-purple: (
    card-text: map.get($themes, soft-purple, featured-clr-1),
    card-accent: map.get($themes, soft-purple, featured-clr-4),
    card-img-bg: map.get($themes, soft-purple, featured-clr-2),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, soft-purple, featured-clr-4),
        map.get($themes, soft-purple, featured-clr-3)
      ),
    button-outline: map.get($themes, soft-purple, featured-clr-4),
    button-hover: map.get($themes, soft-purple, featured-clr-1),
    bg-light: map.get($themes, soft-purple, featured-clr-2),
    bg-accent: map.get($themes, soft-purple, featured-clr-3),
    bg-dark: map.get($themes, soft-purple, featured-clr-4),
  ),
  soft-blue: (
    card-text: map.get($themes, soft-blue, featured-clr-1),
    card-accent: map.get($themes, soft-blue, featured-clr-3),
    card-img-bg: map.get($themes, soft-blue, featured-clr-3),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, soft-blue, featured-clr-3),
        map.get($themes, soft-blue, featured-clr-2)
      ),
    button-outline: map.get($themes, soft-blue, featured-clr-3),
    button-hover: map.get($themes, soft-blue, featured-clr-1),
    bg-light: map.get($themes, soft-blue, featured-clr-2),
    bg-accent: map.get($themes, soft-blue, featured-clr-1),
    bg-dark: map.get($themes, soft-blue, featured-clr-4),
  ),
  stormy-pink: (
    card-text: map.get($themes, stormy-pink, featured-clr-1),
    card-accent: map.get($themes, stormy-pink, featured-clr-3),
    card-img-bg: map.get($themes, stormy-pink, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, stormy-pink, featured-clr-2),
        map.get($themes, stormy-pink, featured-clr-3)
      ),
    button-outline: map.get($themes, stormy-pink, featured-clr-4),
    button-hover: map.get($themes, stormy-pink, featured-clr-1),
    bg-light: map.get($themes, stormy-pink, featured-clr-2),
    bg-accent: map.get($themes, stormy-pink, featured-clr-4),
    bg-dark: map.get($themes, stormy-pink, featured-clr-3),
  ),
  vintage-pink: (
    card-text: map.get($themes, vintage-pink, featured-clr-1),
    card-accent: map.get($themes, vintage-pink, featured-clr-4),
    card-img-bg: map.get($themes, vintage-pink, featured-clr-3),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, vintage-pink, featured-clr-3),
        map.get($themes, vintage-pink, featured-clr-2)
      ),
    button-outline: map.get($themes, vintage-pink, featured-clr-4),
    button-hover: map.get($themes, vintage-pink, featured-clr-1),
    bg-light: map.get($themes, vintage-pink, featured-clr-2),
    bg-accent: map.get($themes, vintage-pink, featured-clr-3),
    bg-dark: map.get($themes, vintage-pink, featured-clr-4),
  ),
  coffee-time: (
    card-text: map.get($themes, coffee-time, featured-clr-1),
    card-accent: map.get($themes, coffee-time, featured-clr-4),
    card-img-bg: map.get($themes, coffee-time, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, coffee-time, featured-clr-3),
        map.get($themes, coffee-time, featured-clr-2)
      ),
    button-outline: map.get($themes, coffee-time, featured-clr-4),
    button-hover: map.get($themes, coffee-time, featured-clr-1),
    bg-light: map.get($themes, coffee-time, featured-clr-2),
    bg-accent: map.get($themes, coffee-time, featured-clr-3),
    bg-dark: map.get($themes, coffee-time, featured-clr-4),
  ),
  summer: (
    card-text: map.get($themes, summer, featured-clr-1),
    card-accent: map.get($themes, summer, featured-clr-4),
    card-img-bg: map.get($themes, summer, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, summer, featured-clr-3),
        map.get($themes, summer, featured-clr-2)
      ),
    button-outline: map.get($themes, summer, featured-clr-4),
    button-hover: map.get($themes, summer, featured-clr-1),
    bg-light: map.get($themes, summer, featured-clr-2),
    bg-accent: map.get($themes, summer, featured-clr-3),
    bg-dark: map.get($themes, summer, featured-clr-4),
  ),
  nature: (
    card-text: map.get($themes, nature, featured-clr-1),
    card-accent: map.get($themes, nature, featured-clr-4),
    card-img-bg: map.get($themes, nature, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, nature, featured-clr-3),
        map.get($themes, nature, featured-clr-2)
      ),
    button-outline: #0a6847,
    button-hover: map.get($themes, nature, featured-clr-1),
    bg-light: map.get($themes, nature, featured-clr-2),
    bg-accent: map.get($themes, nature, featured-clr-3),
    bg-dark: map.get($themes, nature, featured-clr-4),
  ),
);
