@use 'sass:map';

$themes: (
  soft-purple: (
    featured-clr-1: rgb(247, 238, 228),
    featured-clr-2: rgb(226, 191, 217),
    featured-clr-3: rgb(200, 161, 224, 1),
    featured-clr-4: rgb(103, 65, 136),
    featured-clr-5: rgb(26, 16, 36),
    featured-clr-6: rgb(41, 21, 61),
  ),
  soft-blue: (
    featured-clr-1: rgb(255, 251, 244),
    featured-clr-2: rgb(249, 226, 175),
    featured-clr-3: rgb(58, 166, 185),
    featured-clr-4: rgb(54, 181, 176),
    featured-clr-5: rgb(12, 30, 35),
    featured-clr-6: rgb(17, 43, 52),
  ),
  stormy-pink: (
    featured-clr-1: rgb(253, 240, 240),
    featured-clr-2: rgb(241, 180, 187),
    featured-clr-3: rgb(31, 65, 114),
    featured-clr-4: rgb(34, 48, 82),
    featured-clr-5: rgb(31, 43, 71),
    featured-clr-6: rgb(44, 55, 94),
  ),
  vintage-pink: (
    featured-clr-1: rgb(249, 249, 224),
    featured-clr-2: rgb(255, 208, 208),
    featured-clr-3: rgb(170, 60, 99),
    featured-clr-4: rgb(11, 132, 148),
    featured-clr-5: rgb(11, 132, 148),
    featured-clr-6: rgb(10, 111, 123),
  ),
  coffee-time: (
    featured-clr-1: rgb(254, 250, 246),
    featured-clr-2: rgb(234, 219, 200),
    featured-clr-3: rgb(175, 143, 111),
    featured-clr-4: rgb(16, 44, 87),
    featured-clr-5: rgb(16, 33, 66),
    featured-clr-6: rgb(28, 52, 88),
  ),
  summer: (
    featured-clr-1: rgb(255, 245, 228),
    featured-clr-2: rgb(193, 216, 195),
    featured-clr-3: rgb(44, 120, 101),
    featured-clr-4: rgb(205, 92, 8),
    featured-clr-5: rgb(27, 68, 50),
    featured-clr-6: rgb(41, 109, 77),
  ),
  nature: (
    featured-clr-1: rgb(214, 239, 216),
    featured-clr-2: rgb(128, 175, 129),
    featured-clr-3: rgb(13, 124, 102),
    featured-clr-4: rgb(10, 104, 71),
    featured-clr-5: rgb(11, 31, 19),
    featured-clr-6: rgb(20, 48, 31),
  ),
);

$card-themes: (
  soft-purple: (
    text-clr: map.get($themes, soft-purple, featured-clr-1),
    card-accent: map.get($themes, soft-purple, featured-clr-4),
    card-img-bg: map.get($themes, soft-purple, featured-clr-2),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, soft-purple, featured-clr-4),
        map.get($themes, soft-purple, featured-clr-3)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, soft-purple, featured-clr-5),
        map.get($themes, soft-purple, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, soft-purple, featured-clr-4),
        map.get($themes, soft-purple, featured-clr-3)
      ),
    form-accent-clr: map.get($themes, soft-purple, featured-clr-3),
    button-bg: map.get($themes, soft-purple, featured-clr-4),
    button-text: map.get($themes, soft-purple, featured-clr-1),
    button-hover-bg: map.get($themes, soft-purple, featured-clr-3),
    button-hover-text: map.get($themes, soft-purple, featured-clr-5),
    button-outline: map.get($themes, soft-purple, featured-clr-3),
    card-button-outline: map.get($themes, soft-purple, featured-clr-4),
    card-button-hover-text: map.get($themes, soft-purple, featured-clr-1),
    bg-light: map.get($themes, soft-purple, featured-clr-2),
    bg-accent: map.get($themes, soft-purple, featured-clr-3),
    bg-dark: map.get($themes, soft-purple, featured-clr-4),
    bg-main: map.get($themes, soft-purple, featured-clr-5),
    scrollbar-track-clr: map.get($themes, soft-purple, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, soft-purple, featured-clr-3),
  ),
  soft-blue: (
    text-clr: map.get($themes, soft-blue, featured-clr-1),
    card-accent: map.get($themes, soft-blue, featured-clr-3),
    card-img-bg: map.get($themes, soft-blue, featured-clr-3),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, soft-blue, featured-clr-3),
        map.get($themes, soft-blue, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, soft-blue, featured-clr-5),
        map.get($themes, soft-blue, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, soft-blue, featured-clr-3),
        map.get($themes, soft-blue, featured-clr-2)
      ),
    form-accent-clr: map.get($themes, soft-blue, featured-clr-3),
    button-bg: map.get($themes, soft-blue, featured-clr-2),
    button-text: map.get($themes, soft-blue, featured-clr-5),
    button-hover-bg: map.get($themes, soft-blue, featured-clr-3),
    button-hover-text: map.get($themes, soft-blue, featured-clr-1),
    button-outline: map.get($themes, soft-blue, featured-clr-3),
    card-button-outline: map.get($themes, soft-blue, featured-clr-3),
    card-button-hover-text: map.get($themes, soft-blue, featured-clr-1),
    bg-light: map.get($themes, soft-blue, featured-clr-2),
    bg-accent: map.get($themes, soft-blue, featured-clr-1),
    bg-dark: map.get($themes, soft-blue, featured-clr-4),
    bg-main: map.get($themes, soft-blue, featured-clr-5),
    scrollbar-track-clr: map.get($themes, soft-blue, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, soft-blue, featured-clr-3),
  ),
  stormy-pink: (
    text-clr: map.get($themes, stormy-pink, featured-clr-1),
    card-accent: map.get($themes, stormy-pink, featured-clr-3),
    card-img-bg: map.get($themes, stormy-pink, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, stormy-pink, featured-clr-2),
        map.get($themes, stormy-pink, featured-clr-3)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, stormy-pink, featured-clr-5),
        map.get($themes, stormy-pink, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, stormy-pink, featured-clr-2),
        map.get($themes, stormy-pink, featured-clr-3)
      ),
    form-accent-clr: map.get($themes, stormy-pink, featured-clr-2),
    button-bg: map.get($themes, stormy-pink, featured-clr-3),
    button-text: map.get($themes, stormy-pink, featured-clr-1),
    button-hover-bg: map.get($themes, stormy-pink, featured-clr-2),
    button-hover-text: map.get($themes, stormy-pink, featured-clr-5),
    button-outline: map.get($themes, stormy-pink, featured-clr-2),
    card-button-outline: map.get($themes, stormy-pink, featured-clr-4),
    card-button-hover-text: map.get($themes, stormy-pink, featured-clr-1),
    bg-light: map.get($themes, stormy-pink, featured-clr-2),
    bg-accent: map.get($themes, stormy-pink, featured-clr-4),
    bg-dark: map.get($themes, stormy-pink, featured-clr-3),
    bg-main: map.get($themes, stormy-pink, featured-clr-5),
    scrollbar-track-clr: map.get($themes, stormy-pink, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, stormy-pink, featured-clr-3),
  ),
  vintage-pink: (
    text-clr: map.get($themes, vintage-pink, featured-clr-1),
    card-accent: map.get($themes, vintage-pink, featured-clr-4),
    card-img-bg: map.get($themes, vintage-pink, featured-clr-3),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, vintage-pink, featured-clr-3),
        map.get($themes, vintage-pink, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, vintage-pink, featured-clr-5),
        map.get($themes, vintage-pink, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, vintage-pink, featured-clr-3),
        map.get($themes, vintage-pink, featured-clr-2)
      ),
    form-accent-clr: map.get($themes, vintage-pink, featured-clr-2),
    button-bg: map.get($themes, vintage-pink, featured-clr-3),
    button-text: map.get($themes, vintage-pink, featured-clr-1),
    button-hover-bg: map.get($themes, vintage-pink, featured-clr-2),
    button-hover-text: map.get($themes, vintage-pink, featured-clr-5),
    button-outline: map.get($themes, vintage-pink, featured-clr-2),
    card-button-outline: map.get($themes, vintage-pink, featured-clr-4),
    card-button-hover-text: map.get($themes, vintage-pink, featured-clr-1),
    bg-light: map.get($themes, vintage-pink, featured-clr-2),
    bg-accent: map.get($themes, vintage-pink, featured-clr-3),
    bg-dark: map.get($themes, vintage-pink, featured-clr-4),
    bg-main: map.get($themes, vintage-pink, featured-clr-5),
    scrollbar-track-clr: map.get($themes, vintage-pink, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, vintage-pink, featured-clr-3),
  ),
  coffee-time: (
    text-clr: map.get($themes, coffee-time, featured-clr-1),
    card-accent: map.get($themes, coffee-time, featured-clr-4),
    card-img-bg: map.get($themes, coffee-time, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, coffee-time, featured-clr-3),
        map.get($themes, coffee-time, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, coffee-time, featured-clr-5),
        map.get($themes, coffee-time, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, coffee-time, featured-clr-3),
        map.get($themes, coffee-time, featured-clr-2)
      ),
    form-accent-clr: map.get($themes, coffee-time, featured-clr-3),
    button-bg: map.get($themes, coffee-time, featured-clr-3),
    button-text: map.get($themes, coffee-time, featured-clr-5),
    button-hover-bg: map.get($themes, coffee-time, featured-clr-2),
    button-hover-text: map.get($themes, coffee-time, featured-clr-5),
    button-outline: map.get($themes, coffee-time, featured-clr-2),
    card-button-outline: map.get($themes, coffee-time, featured-clr-4),
    card-button-hover-text: map.get($themes, coffee-time, featured-clr-1),
    bg-light: map.get($themes, coffee-time, featured-clr-2),
    bg-accent: map.get($themes, coffee-time, featured-clr-3),
    bg-dark: map.get($themes, coffee-time, featured-clr-4),
    bg-main: map.get($themes, coffee-time, featured-clr-5),
    scrollbar-track-clr: map.get($themes, coffee-time, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, coffee-time, featured-clr-3),
  ),
  summer: (
    text-clr: map.get($themes, summer, featured-clr-1),
    card-accent: map.get($themes, summer, featured-clr-4),
    card-img-bg: map.get($themes, summer, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, summer, featured-clr-3),
        map.get($themes, summer, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, summer, featured-clr-5),
        map.get($themes, summer, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, summer, featured-clr-4),
        map.get($themes, summer, featured-clr-2)
      ),
    form-accent-clr: map.get($themes, summer, featured-clr-2),
    button-bg: map.get($themes, summer, featured-clr-3),
    button-text: map.get($themes, summer, featured-clr-1),
    button-hover-bg: map.get($themes, summer, featured-clr-2),
    button-hover-text: map.get($themes, summer, featured-clr-4),
    button-outline: map.get($themes, summer, featured-clr-2),
    card-button-outline: map.get($themes, summer, featured-clr-4),
    card-button-hover-text: map.get($themes, summer, featured-clr-1),
    bg-light: map.get($themes, summer, featured-clr-2),
    bg-accent: map.get($themes, summer, featured-clr-3),
    bg-dark: map.get($themes, summer, featured-clr-4),
    bg-main: map.get($themes, summer, featured-clr-5),
    scrollbar-track-clr: map.get($themes, summer, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, summer, featured-clr-3),
  ),
  nature: (
    text-clr: map.get($themes, nature, featured-clr-1),
    card-accent: map.get($themes, nature, featured-clr-4),
    card-img-bg: map.get($themes, nature, featured-clr-4),
    card-bg-gradient:
      linear-gradient(
        to bottom right,
        map.get($themes, nature, featured-clr-3),
        map.get($themes, nature, featured-clr-2)
      ),
    form-bg-gradient:
      linear-gradient(
        to bottom,
        map.get($themes, nature, featured-clr-5),
        map.get($themes, nature, featured-clr-6)
      ),
    form-hover-gradient:
      linear-gradient(
        to left,
        map.get($themes, nature, featured-clr-3),
        map.get($themes, nature, featured-clr-4)
      ),
    form-accent-clr: map.get($themes, nature, featured-clr-2),
    button-bg: map.get($themes, nature, featured-clr-4),
    button-text: map.get($themes, nature, featured-clr-1),
    button-hover-bg: map.get($themes, nature, featured-clr-2),
    button-hover-text: map.get($themes, nature, featured-clr-5),
    button-outline: map.get($themes, nature, featured-clr-2),
    card-button-outline: map.get($themes, nature, featured-clr-4),
    card-button-hover-text: map.get($themes, nature, featured-clr-1),
    bg-light: map.get($themes, nature, featured-clr-2),
    bg-accent: map.get($themes, nature, featured-clr-3),
    bg-dark: map.get($themes, nature, featured-clr-4),
    bg-main: map.get($themes, nature, featured-clr-5),
    scrollbar-track-clr: map.get($themes, nature, featured-clr-6),
    scrollbar-thumb-clr: map.get($themes, nature, featured-clr-3),
  ),
);

$error-color: #ffd700;
