@use '../abstracts/' as *;

.badge {
  display: grid;
  place-items: center;
  padding-block: 0.125em;
  padding-inline: 1.125em;
  @include get-nested-theme {
    background-color: themify(card-accent);
    color: themify(card-text);
  }
  border-radius: $br-medium;
  min-width: fit-content;
}
