@use '../abstracts/' as *;

.article-form {
  container-type: inline-size;
  container-name: formContainer;

  &__wrapper {
    min-height: $main-content-min-height-desktop;
    padding-inline: $card-padding * 2;
    padding-block: $card-padding * 3;
    border-radius: $br-medium;

    @include get-nested-theme() {
      background-image: themify(form-bg-gradient);
    }
    display: grid;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: -1px;
      @include get-nested-theme() {
        background-image: themify(card-bg-gradient);
      }
      border-radius: inherit;
      z-index: -1;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: fs(500);
    font-weight: $fw-400;
    letter-spacing: 0.2em;
  }

  fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 clamp(3em, 3em + 5cqw, 12em);
    border: none;
    border-radius: inherit;
    position: relative;

    padding: 0;
  }

  &__control-wrapper {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5em;
    position: relative;

    &::after,
    &::before {
      content: '';
      height: 1px;
      width: 100%;
      grid-column: 1;
      grid-row: 3;
      align-self: start;
    }

    &::after {
      @include get-nested-theme() {
        background-color: rgba(themify(text-clr), 0.5);
      }
      transition: opacity 600ms ease-out;
    }

    &::before {
      @include get-nested-theme() {
        background-image: themify(form-hover-gradient);
      }
      transform: scaleX(0);
      transition: transform 400ms ease-out;
    }

    &:focus-within::before {
      transform: scaleX(1);
    }
    &:focus-within::after {
      opacity: 0;
    }
  }

  * + &__control-wrapper {
    margin-block-start: 3em;
  }
  * + &__radio-wrapper {
    margin-block-start: 1.5em;
  }

  label,
  legend {
    font-size: fs(300);
    font-weight: $fw-400;
    @include get-nested-theme() {
      color: themify(form-accent-clr);
    }
    text-transform: uppercase;
  }

  legend {
    padding: 0;
    margin-block-start: 3em;
  }

  input,
  textarea,
  select {
    border: none;
    background: none;
    padding-block: 0.25em;
    padding-inline: 0.5em;
  }

  input,
  textarea {
    @include get-nested-theme() {
      color: themify(text-clr);
    }
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: none;
    margin: 0;
    @include get-nested-theme() {
      color: themify(form-accent-clr);
    }
    width: 1.125em;
    height: 1.125em;
    @include get-nested-theme() {
      border: 0.0625em solid themify(form-accent-clr);
    }

    display: grid;
    place-content: center;
  }

  input[type='radio']::before {
    content: '';
    width: 0.5625em;
    height: 0.5625em;
    transform: scale(0);
    transition: 200ms transform ease-in-out;
    @include get-nested-theme() {
      box-shadow: inset 1em 1em themify(form-accent-clr);
    }
  }

  input[type='radio']:checked::before {
    transform: scale(1);
  }

  &__radio-wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    gap: 0.75em;
    align-items: center;
  }

  textarea {
    width: 100%;
  }

  select {
    appearance: none;
    @include get-nested-theme() {
      color: themify(form-accent-clr);
    }
    background-color: inherit;
  }

  .error {
    display: flex;
    gap: 0.75em;
    align-items: center;
    font-size: fs(300);
    font-variant: small-caps;
    letter-spacing: 0.05em;
    color: $error-color;
  }

  @container formContainer (max-width: 30em) {
    &__wrapper {
      min-height: $main-content-min-height-mobile;
    }
    fieldset {
      grid-template-columns: 1fr;
    }
  }
}
