@use '../abstracts/' as *;

.article-form {
  container-type: inline-size;
  container-name: formContainer;

  &__wrapper {
    min-height: 36rem;
    padding-inline: $card-padding * 2;
    padding-block: $card-padding * 3;
    border-radius: $br-medium;

    background-color: clr(neutral, 900);

    display: grid;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: -1px;
      background-image: linear-gradient(to bottom right, #674188, #c8a1e0);
      border-radius: inherit;
      z-index: -1;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: fs(500);
    font-weight: $fw-400;
    letter-spacing: 0.2em;
  }

  fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 clamp(3em, 3em + 5cqw, 12em);
    border: none;
    border-radius: inherit;
    position: relative;

    padding: 0;
  }

  &__control-wrapper {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5em;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      inset: auto 0 0 0;
      height: 1px;
      width: 100%;
    }

    &::after {
      background-color: rgba(clr(neutral, 100), 0.5);
      transition: opacity 600ms ease-out;
    }

    &::before {
      background-image: linear-gradient(
        to left,
        clr(primary, 700),
        clr(primary, 100)
      );
      transform: scaleX(0);
      transition: transform 400ms ease-out;
    }

    &:focus-within::before {
      transform: scaleX(1);
    }
    &:focus-within::after {
      opacity: 0;
    }
  }

  * + &__control-wrapper {
    margin-block-start: 3em;
  }
  * + &__radio-wrapper {
    margin-block-start: 1.5em;
  }

  label,
  legend {
    font-size: fs(300);
    font-weight: $fw-400;
    color: clr(primary, 100);
    text-transform: uppercase;
  }

  legend {
    padding: 0;
    margin-block-start: 3em;
  }

  input,
  textarea,
  select {
    border: none;
    background: none;
    padding-block: 0.25em;
    padding-inline: 0.5em;
  }

  input,
  textarea {
    color: clr(neutral, 100);
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: none;
    margin: 0;
    color: clr(primary, 100);
    width: 1.125em;
    height: 1.125em;
    border: 0.0625em solid clr(primary, 100);
    // border-radius: 50%;

    display: grid;
    place-content: center;
  }

  input[type='radio']::before {
    content: '';
    width: 0.5625em;
    height: 0.5625em;
    // border-radius: 50%;
    transform: scale(0);
    transition: 200ms transform ease-in-out;
    box-shadow: inset 1em 1em clr(primary, 100);
  }

  input[type='radio']:checked::before {
    transform: scale(1);
  }

  &__radio-wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    gap: 0.75em;
    align-items: center;
  }

  textarea {
    width: 100%;
  }

  select {
    appearance: none;
    color: clr(primary, 100);
    background-color: inherit;
  }

  @container formContainer (max-width: 30em) {
    &__wrapper {
      min-height: 53.1rem;
    }
    fieldset {
      grid-template-columns: 1fr;
    }
  }
}
