@use '../abstracts/' as *;

.avatar {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 2px solid currentColor;

  .article-form__radio-wrapper & {
    --size: 2.25rem;
    justify-self: end;
    border-radius: $br-medium;
    border-color: var(--form-accent-clr);
  }
}
