@use '../abstracts/' as *;

.button-wrapper {
  align-self: end;
  padding-block-start: 3em;
  container-type: inline-size;
  container-name: buttonContainer;

  @container buttonContainer (max-width: 20em) {
    .buttons {
      grid-auto-flow: row;
      gap: 1.5em;

      & > *:first-child {
        justify-self: stretch;
      }

      & > *:last-child {
        justify-self: stretch;
      }
    }
  }
}

.buttons {
  display: grid;
  grid-auto-flow: column;

  & > *:first-child {
    justify-self: start;
  }

  & > *:last-child {
    justify-self: end;
  }

  & > *:only-child:not(.next-button) {
    justify-self: start;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  background: none;
  border: none;
  cursor: pointer;

  padding-block: 0.75em;
  padding-inline: clamp(2em, 2em + 1vw, 4em);
  border-radius: $br-medium;

  position: relative;
  isolation: isolate;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    display: block;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 400ms ease-out;
    z-index: -1;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }

  &[button-type='primary'] {
    background-color: var(--button-bg);
    color: var(--button-text);
    &::before {
      inset: 0;
      background-color: var(--button-hover-bg);
    }
    &:hover,
    &:focus {
      color: var(--button-hover-text);
    }
  }

  &[button-type='outline'] {
    background-color: transparent;
    border: 1px solid var(--button-outline);
    color: var(--button-outline);

    &::before {
      inset: -1px;
      background-color: var(--button-outline);
    }

    &:hover,
    &:focus {
      color: var(--button-hover-text);
    }
  }

  &[button-type='primary'],
  &[button-type='outline'] {
    font-size: fs(300);
    font-weight: $fw-400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}

.link-button[button-type='outline'] {
  display: grid;
  align-items: center;
  padding-block: 0.125em;
  padding-inline: 1.25em;
  text-transform: capitalize;
  background-color: transparent;

  border: 2px solid var(--card-button-outline);
  background-color: transparent;
  color: var(--card-button-outline);

  grid-template-columns: max-content 0.5em 1.5em;
  will-change: color, grid-template-columns;
  transition: grid-template-columns 300ms ease-out;

  & > *:last-child {
    grid-column: -2;
  }

  &::before {
    inset: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: var(--card-button-outline);
  }

  &:hover {
    grid-template-columns: max-content 1.25em 1.5em;
    color: var(--card-button-hover-text);
  }
}
