@use '../abstracts/' as *;
.card {
  --flow-spacer: 1.25em;
  max-width: 50rem;
  color: #f7efe5;
  background-image: linear-gradient(to bottom right, #674188, #c8a1e0);
  padding-inline: 1.25em;
  padding-block: 1.25em;
  border-radius: 0.75em;

  display: grid;
  grid-auto-flow: row;

  &__img {
    border-radius: inherit;
    img,
    picture {
      aspect-ratio: 1 / 1;
      border-radius: inherit;
    }
  }

  &__content * + h2 {
    margin-top: 0.25em;
  }
  &__content header + p {
    margin-top: 0.5em;
  }

  &__content__meta {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 0.75em;
    align-items: center;
    font-size: fs(300);
  }

  &__content footer {
    padding-block-start: 1.25em;
  }

  &__content__author {
    display: flex;
    gap: 1.25em;
    align-items: center;
    picture {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      border: 2px solid currentColor;
      overflow: hidden;
    }
    p {
      font-size: fs(300);
    }
  }

  .button {
    align-self: center;
    justify-self: start;
    font-family: $ff-secondary;
  }

  @include mq(small) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: min-content;
    column-gap: 1.25em;

    &__img {
      grid-column: 1;
      grid-row: span 2;
      background-color: #131414;

      img {
        aspect-ratio: 1;
        height: 100%;
      }
    }

    &__content {
      grid-column: 2;
      grid-row: 1;
    }

    .button {
      grid-column: 2;
      grid-row: 2;
    }
  }
}
