@use '../abstracts/' as *;

dialog {
  $parent: &;
  &:modal {
    width: 85%;
    max-width: 30rem;
    padding: 0;

    position: absolute;
    inset: 0;
    margin: auto;
    @include get-nested-theme() {
      background-image: themify(form-bg-gradient);
      color: themify(form-accent-clr);
      border: 1px solid themify(form-accent-clr);
    }
    border-radius: $br-medium;

    &::backdrop {
      @include get-nested-theme() {
        background-color: rgba(themify(bg-main), 0.95);
      }
      opacity: 0.95;
    }

    &[data-state='opened'] {
      animation: revealDialog;
      animation-duration: 600ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;

      &::backdrop {
        animation: fadeInBackdrop;
        animation-duration: 600ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
      }
    }

    &[data-state='is-closing'] {
      animation: hideDialog;
      animation-duration: 600ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;

      &::backdrop {
        animation: fadeOutBackdrop;
        animation-duration: 600ms;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
    }

    .error {
      display: grid;
      grid-auto-flow: rows;
      gap: $grid-gap * 1.5;
      @include get-nested-theme() {
        color: themify(form-accent-clr);
      }

      svg {
        justify-self: center;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .#{$parent}__content {
    display: grid;
    grid-auto-flow: rows;
    gap: $grid-gap * 1.5;

    padding: 1.5em * 1.5;
  }
}

@keyframes revealDialog {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hideDialog {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes fadeInBackdrop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.95;
  }
}

@keyframes fadeOutBackgrop {
  0% {
    opacity: 0.95;
  }

  100% {
    opacity: 0;
  }
}
