@use '../abstracts/' as *;

.columns {
  --grid-gap: 4rem;
  display: grid;
  gap: 0 var(--grid-gap, $grid-gap);

  @include mq(medium) {
    grid-auto-flow: column;
    grid-template-columns: minmax(0, 28rem) 1fr;

    & > * {
      align-self: center;
    }
  }
}
