@use '../abstracts/' as *;

.section--full-screen {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  // opacity: 0;
  transition: opacity 500ms ease-in-out;

  &.fade-in {
    opacity: 1;
  }

  .fade-in > * {
    opacity: 0;
    animation-name: revealContent;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .fade-in > *:last-child {
    animation-name: revealContent;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
  }
}

@keyframes revealContent {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
